<h2 id="detailsHead">Employee Details</h2>
<label id="idLabel">ID:</label>
<label id="id">{{emp.id}}</label>
<br>
<label id="nameLabel">Name:</label>
<label id="name">{{emp.name}}</label>
<br>
<label id="locationLabel">Location:</label>
<label id="location">{{emp.location}}</label>
<br>
<label id="emailLabel">Email:</label>
<label id="email">{{emp.email}}</label>
<br>
<label id="mobileLabel">Mobile:</label>
<label id="mobile">{{emp.mobile}}</label>
<br>
<button id="backButton" (click)="goBack()">Back</button>
