<h2 id="editHead">Edit Employee</h2>
<form id="editForm" [formGroup]="formGrp" novalidate>
    <label id="editNameLabel">Employee Name:</label>
    <input type="text" id="editName" class="edit-form-style" formControlName="namectrl" [(ngModel)]="emp.name">
    <div *ngIf="mobno['namectrl'].touched && mobno['namectrl'].invalid" id="editNameError" class="show-error">
        <div id="editNameReq" *ngIf="mobno['namectrl'].errors?.['required'] && mobno['namectrl'].dirty">Please Enter Employee Name</div>
        <div id="editNameVal" *ngIf="mobno['namectrl'].errors?.['pattern'] && mobno['namectrl'].dirty">Employee Name Should be more than 3 characters</div>
    </div> 
    <br>
    <label id="editLocationLabel">Location:</label>
    <select id="editLocation" name="location" class="edit-form-style" (change)="onLocationChange($event)"  required>
        <option id="editCurLocation">{{emp.location}}</option>
        <option id="editNewLocation" *ngFor="let l of lc | locationFilter : selectedLocation" [value]="l">
            {{l}}
        </option>
    </select> <br>

    <label id="editEmailLabel">Email:</label>
    <input id="editEmail" class="edit-form-style" type="text" formControlName="emailctrl" [(ngModel)]="emp.email">
        <div *ngIf="mobno['emailctrl'].touched && mobno['emailctrl'].invalid" id="editEmailError" class="show-error">
            <div id="editEmailReq" *ngIf="mobno['emailctrl'].errors?.['required'] && mobno['emailctrl'].dirty">Please Enter Email Id</div>
            <div id="editEmailVal" *ngIf="mobno['emailctrl'].errors?.['pattern'] && mobno['emailctrl'].dirty">Enter Valid Email id</div>
        </div> 
    
    <br>
    <label id="editMobileLabel">Mobile:</label>
    <input id="editMobile" class="edit-form-style" type="text" formControlName="mobctrl" [(ngModel)]="emp.mobile">
        <div *ngIf="mobno['mobctrl'].touched && mobno['mobctrl'].invalid" id="editMobileError" class="show-error">
            <div id="editMobileReq" *ngIf="mobno['mobctrl'].errors?.['required'] && mobno['mobctrl'].dirty">Please Enter Mobile Number</div>
            <div id="editMobileVal" *ngIf="mobno['mobctrl'].errors?.['pattern'] && mobno['mobctrl'].dirty">Please Enter 10 Digit Mobile Number</div>
        </div> 
    <br>
    <button id="editButton" type="submit" [disabled]="!formGrp.valid" (click)="doSubmit()">Update</button>
</form>